*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

/* side-nav bar */
.side-nav{
    width: 5%;
    height: 80vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    list-style: none;
    align-items: center;
}

.main{
    display: flex;
}

.main-content{
    width: 100%;
}

.upper{
    width: 100%;
    height: 35vh;
    background-color: #454545;
    justify-content: flex-start;
    display: flex;
    color: white;
}

.upper-logo{
    padding: 25px;
    width: 250px;
    
}

.song-details-top{
    float: center;
    padding: 25px;
    list-style: none;
}

.song-controls-top{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;
}

#top-controls{
    padding-top: 90px;
    gap: 10px;
}


/* table */

.table-details{
    /* position: relative; */
    width: 100%;
    padding-left: 5px;
    table-layout: fixed;
    height: 25px;
        
}

table{
    width: 100%;
}

td{
   padding: 5px;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}


  colgroup {
    display: table-column-group;
}

col {
    display: table-column;
    width: 25%;
}

button
{
    color:#6a67ee;
    padding: 2.5px;
    
}


/* bottom */
.bottom{
    width: 100%;
    height: 20vh;
    background: #43689b;
    text-align: left;
    list-style: none;
    color: wheat;
    justify-content: flex-start;
    display: flex;
}

.logo-img{
    display: block;
    width: 125px;
    height: 125px;
    padding: 10px 10px;
}

.song-details{
    list-style: none;
    padding-top: 25px;
    padding-left: 5px;
}

.song-controls-bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: none;
    width: 50%;
    align-items:center;
    margin-left: auto;
    padding-right: 5px;
}

