*{
    font-family: 'Circular Pro Medium';
}

.main-content{
    display: flex;
    
}

img{
    height: 250px;
    width: 250px;
}

@media all and (max-width: 767px){
    .main-content{
        flex-direction: column;
    }
}